In [256]:
import os.path
from typing import List
from datetime import date, datetime, timedelta

import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from kmodes.kmodes import KModes
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans, MiniBatchKMeans, DBSCAN
from sklearn.decomposition import TruncatedSVD
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer
from sklearn import metrics

from datetime import date
# from thefuzz import fuzz

%matplotlib inline
pd.options.mode.chained_assignment = None  # default='warn'
pd.options.display.max_colwidth = 160

from utils.configuration import settings
from utils.utils import *
from tft.api import *

In [257]:
RANDOM_STATE = 42

API_KEY: str = settings.api_key
ASSETS_DIR: str = settings.assets_dir
SERVER = 'na1'  # euw1 na1 kr oc1
LEAGUE='challengers' # challengers grandmasters
MAX_COUNT: int = settings.max_count
LATEST_RELEASE = '12.13.453.3037' # '12.12.450.4196''12.13.453.3037' Version 12.12.448.6653 12.11.446.9344 Version 12.13.453.3037 (Jul 11 2022/18:39:20) [PUBLIC] <Releases/12.13>
PATCH: date = date(2022, 7, 16)  # date(2022, 7, 1) date(2022, 7, 16)
THREEDAY: datetime = (datetime.now() - timedelta(days=3)).strftime("%Y-%m-%d")

TARGETNAME = 'placement'

# Data Loading

In [258]:
# raw_df: DataFrame = pd.read_pickle(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_matches.pickle'))
raw_df: DataFrame = pd.read_pickle(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{THREEDAY}_matches.pickle'))

# Preprocessing

In [259]:
def impute(df) -> DataFrame:
    for name in df.select_dtypes("number"):
        df[name] = df[name].fillna(0)
    for name in df.select_dtypes("object"):
        df[name] = df[name].fillna("None")
    return df

raw_df = impute(raw_df)

In [260]:
match_id_df: Series = raw_df['match_id']
X: DataFrame = raw_df.drop(['match_id'], axis=1)
y: Series = X.pop(TARGETNAME)
X.fillna('', inplace=True)

numeric_cols: List = X.select_dtypes(include=np.number).columns.tolist()
categorical_cols = X.select_dtypes(include=['object','category']).columns.tolist()

# traits level columns
traits_col: list = [s for s in numeric_cols if "Set7" in s]
# units level columns
units_col: list = [s for s in numeric_cols if "TFT7" in s]
# augments columns
augments_col: list[str] = ['augment0', 'augment1', 'augment2']
# units items columns
items_col = [s for s in categorical_cols if s not in augments_col]

df_unique = X.nunique().to_frame().reset_index()
df_unique.columns = ['Variable','DistinctCount']
unique_items_set = {y for col in items_col for y in X[col].unique().tolist()}
unique_augments_set = {y for col in augments_col for y in X[col].unique().tolist()}

X[f'items_count'] = X[items_col].apply(lambda row: sum(x != 'None' for x in row), axis=1)
X[f'traits_sum'] = X[traits_col].sum(axis=1)
X[f'units_sum'] = X[units_col].sum(axis=1)
X.iloc[X[f'units_sum'].idxmax()]

augment0              TFT7_Augment_MageConference
augment1          TFT6_Augment_CelestialBlessing1
augment2                TFT6_Augment_JeweledLotus
Set7_Assassin                                 0.0
Set7_Astral                                   1.0
                               ...
TFT7_Zoe_item1                               None
TFT7_Zoe_item2                               None
items_count                                    12
traits_sum                                    9.0
units_sum                                    29.0
Name: 4308, Length: 270, dtype: object

In [261]:
numeric_cols = X.select_dtypes(include=np.number).columns.tolist()
categorical_cols = X.select_dtypes(include=['object','category']).columns.tolist()
X[numeric_cols] = X[numeric_cols].applymap(np.int64)

matches_df = X.copy()
matches_df[TARGETNAME] = y

# Augments Ranking

## Stage 2-1 augment ranking

In [262]:
# filter and melt the dataframe
m = matches_df.filter(regex=r'placement|augment0').melt('placement', value_name='augment0')
# group and aggregate mean/median
dct = {'Value_Count': ('augment0', 'count'), 'average_placement': ('placement', 'mean')}
augment0_rank_df = m.groupby('augment0', as_index=False).agg(**dct).sort_values(by='average_placement')
augment0_rank_df[:30]

C:\Users\furyx\AppData\Local\Temp\ipykernel_9348\207590299.py:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  m = matches_df.filter(regex=r'placement|augment0').melt('placement', value_name='augment0')

                               augment0  Value_Count  average_placement
136       TFT7_Augment_MageConferenceHR            6           3.333333
179           TFT7_Augment_TempestTrait           24           3.375000
146           TFT7_Augment_MysticTrait2           20           3.500000
126            TFT7_Augment_GuildLootHR            3           3.666667
157           TFT7_Augment_RevelEmblem2          151           3.748344
68               TFT6_Augment_TriForce2          232           3.879310
75                TFT6_Augment_Windfall           11           3.909091
140            TFT7_Augment_MikaelsGift          159           3.918239
165  TFT7_Augment_ShapeshifterBeastsDen          159           3.937107
117           TFT7_Augment_GadgetExpert          467           3.976445
1           TFT6_Augment_BandOfThieves2           19           4.000000
64              TFT6_Augment_Traitless1           42           4.000000
67               TFT6_Augment_TriForce1          117           4.000000
48           TFT6_Augment_PortableForge          574           4.008711
65              TFT6_Augment_Traitless2          187           4.048128
142          TFT7_Augment_MirageEmblem2           29           4.068966
37             TFT6_Augment_LudensEcho2          264           4.071970
80         TFT7_Augment_AssassinEmblem2          117           4.085470
107          TFT7_Augment_ClutteredMind          409           4.095355
138            TFT7_Augment_MageEmblem2          109           4.110092
128             TFT7_Augment_JadeEmblem           83           4.120482
44             TFT6_Augment_Meditation2          267           4.138577
42              TFT6_Augment_MaxLevel10           68           4.147059
79          TFT7_Augment_AssassinEmblem          295           4.152542
16       TFT6_Augment_CyberneticUplink2          382           4.154450
133            TFT7_Augment_LivingForge          105           4.180952
132             TFT7_Augment_JadeTrait2           16           4.187500
15       TFT6_Augment_CyberneticUplink1          253           4.189723
76                     TFT7_Augment_AFK          336           4.196429
86          TFT7_Augment_BandOfThieves1          230           4.213043

In [263]:
augment0_rank_df.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_augment0_ranking.csv'), index=False)

## Stage 3-2 augment ranking

In [264]:
# filter and melt the dataframe
m = matches_df.filter(regex=r'placement|augment1').melt('placement', value_name='augment1')
# group and aggregate mean/median
dct = {'Value_Count': ('augment1', 'count'), 'average_placement': ('placement', 'mean')}
augment1_rank_df = m.groupby('augment1', as_index=False).agg(**dct).sort_values(by='average_placement')
augment1_rank_df[:30]

C:\Users\furyx\AppData\Local\Temp\ipykernel_9348\1890264867.py:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  m = matches_df.filter(regex=r'placement|augment1').melt('placement', value_name='augment1')

                                 augment1  Value_Count  average_placement
151           TFT7_Augment_Preparation3HR            1           1.000000
149           TFT7_Augment_Preparation2HR            2           2.500000
65                TFT6_Augment_Traitless1           26           2.615385
154           TFT7_Augment_RagewingScorch           17           3.235294
70                 TFT6_Augment_TriForce3           24           3.291667
67                TFT6_Augment_Traitless3            9           3.333333
66                TFT6_Augment_Traitless2            8           3.375000
69                 TFT6_Augment_TriForce2           33           3.393939
162        TFT7_Augment_ScalescornEmblem2           39           3.487179
176           TFT7_Augment_TempestEmblem2            4           3.500000
16         TFT6_Augment_CyberneticUplink2           57           3.543860
157             TFT7_Augment_RevelEmblem2           24           3.666667
175            TFT7_Augment_TempestEmblem            3           3.666667
144             TFT7_Augment_MysticTrait2           10           3.700000
163          TFT7_Augment_ScalescornTrait           84           3.702381
123              TFT7_Augment_GuildEmblem           37           3.729730
129            TFT7_Augment_JadePenitence            8           3.750000
11       TFT6_Augment_CyberneticImplants3           34           3.764706
161         TFT7_Augment_ScalescornEmblem           46           3.782609
168     TFT7_Augment_ShimmerscaleSpending            5           3.800000
77            TFT7_Augment_AssassinEmblem           27           3.814815
188            TFT7_Augment_WhispersTrait           41           3.951220
29           TFT6_Augment_Featherweights3           32           3.968750
78           TFT7_Augment_AssassinEmblem2           20           4.000000
41               TFT6_Augment_LudensEcho3          119           4.025210
13          TFT6_Augment_CyberneticShell2           74           4.054054
71                    TFT6_Augment_Twins2          199           4.055276
173  TFT7_Augment_SwiftshotPressTheAttack           57           4.070175
165        TFT7_Augment_ShapeshifterTrait           71           4.070423
130                TFT7_Augment_JadeTrait           26           4.076923

In [265]:
augment1_rank_df.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_augment1_ranking.csv'), index=False)

## Stage 4-2 augment ranking

In [266]:
# filter and melt the dataframe
m = matches_df.filter(regex=r'placement|augment2').melt('placement', value_name='augment2')
# group and aggregate mean/median
dct = {'Value_Count': ('augment2', 'count'), 'average_placement': ('placement', 'mean')}
augment2_rank_df = m.groupby('augment2', as_index=False).agg(**dct).sort_values(by='average_placement')
augment2_rank_df[:30]

C:\Users\furyx\AppData\Local\Temp\ipykernel_9348\3922423790.py:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  m = matches_df.filter(regex=r'placement|augment2').melt('placement', value_name='augment2')

                               augment2  Value_Count  average_placement
58              TFT6_Augment_Traitless3            4           1.250000
102            TFT7_Augment_EvokerTrait            3           1.666667
57              TFT6_Augment_Traitless2           15           2.466667
26         TFT6_Augment_Featherweights3            5           2.600000
106        TFT7_Augment_GuardianEmblem2            5           3.200000
61               TFT6_Augment_TriForce3            4           3.500000
126            TFT7_Augment_MysticTrait           30           3.500000
144  TFT7_Augment_ShapeshifterBeastsDen          149           3.563758
140             TFT7_Augment_RevelTrait            7           3.571429
101     TFT7_Augment_EvokerEssenceTheft           15           3.666667
52            TFT6_Augment_TheGoldenEgg          138           3.789855
113             TFT7_Augment_JadeEmblem           10           3.800000
77               TFT7_Augment_BigFriend           26           3.807692
18              TFT6_Augment_Distancing           86           3.848837
155          TFT7_Augment_TempestEmblem           11           3.909091
15       TFT6_Augment_CyberneticUplink1           91           3.912088
125            TFT7_Augment_MirageTrait           24           3.916667
68           TFT7_Augment_AssassinTrait           14           3.928571
16       TFT6_Augment_CyberneticUplink2          430           3.939535
137       TFT7_Augment_RevelPartyFavors           68           3.985294
112             TFT7_Augment_GuildTrait           16           4.000000
166           TFT7_Augment_WarriorTrait            7           4.000000
138     TFT7_Augment_RevelPartyFavorsHR            2           4.000000
129         TFT7_Augment_Preparation1HR            1           4.000000
156         TFT7_Augment_TempestEmblem2            1           4.000000
130         TFT7_Augment_Preparation2HR            2           4.000000
142      TFT7_Augment_ScalescornEmblem2           30           4.000000
23              TFT6_Augment_Diversify3          229           4.017467
91     TFT7_Augment_CavalierForAllUnits           44           4.022727
17       TFT6_Augment_CyberneticUplink3           80           4.025000

In [267]:
augment2_rank_df.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_augment2_ranking.csv'), index=False)

# Items Ranking

In [268]:
def get_unit_items_ranking(df: matches_df, unit: str):
    # filter and melt the dataframe
    df = df.filter(regex=f'placement|{unit}_item0|{unit}_item1|{unit}_item2')
    df[f'unit'] = f'{unit}' # fill in current unit
    # join 3 items to 1 column
    df[f'{unit}_items'] = df[[f'{unit}_item0', f'{unit}_item1', f'{unit}_item2']].apply(lambda row: ', '.join(row.values.astype(str)), axis=1)
    # sort items for unique combination
    df[f'{unit}_items'] = df[f'{unit}_items'].apply(lambda x: ', '.join(sorted(x.split(', '))))
    df = df.filter(regex=f'placement|{unit}_items|unit')
    m = df.melt(
        ['placement',f'unit'], value_name=f'{unit}_items_grp') #, value_vars=[f'{unit}_items', f'{unit}']
    # group and aggregate mean/median average_placement
    dct = {'value_count': (f'{unit}_items_grp', 'count'),
           'average_placement': ('placement', 'mean')}
    return m.groupby([f'unit', f'{unit}_items_grp'], as_index=False).agg(**dct).sort_values(by='average_placement')

In [269]:
get_unit_items_ranking(df = matches_df[:2], unit='TFT7_Zoe')

       unit       TFT7_Zoe_items_grp  value_count  average_placement
1  TFT7_Zoe  None, None, StatikkShiv            1                7.0
0  TFT7_Zoe         None, None, None            1                8.0

In [270]:
# Get top5 value_count >= 12
top5_items_list = []
for unit in units_col:
    df = get_unit_items_ranking(df = matches_df, unit=unit)
    df = df[df['value_count']>=12][:5] #Top 5 with counts >= 12
    top5_items_list.extend(df.values)

In [271]:
top5_items_list = pd.DataFrame(top5_items_list, columns=['unit', 'items',	'value_count',	'average_placement'])

In [272]:
top5_items_list.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_top5_items.csv'), index=False)

## Top 1 items

In [273]:
top5_items_list.groupby('unit').head(1)

,unit,items,value_count,average_placement
0,TFT7_Aatrox,"None, None, None",23414,4.492526
2,TFT7_Anivia,"Morellonomicon, None, None",17,4.000000
7,TFT7_AoShin,"JeweledGauntlet, SpearOfShojin, UnstableConcoction",15,2.066667
12,TFT7_Ashe,"None, None, Zephyr",27,3.666667
17,TFT7_AurelionSol,"HextechGunblade, MageEmblemItem, SpearOfShojin",16,3.937500
22,TFT7_Bard,"None, None, ThiefsGloves",13,1.923077
27,TFT7_Braum,"IonicSpark, None, None",20,3.500000
32,TFT7_Corki,"InfinityEdge, RunaansHurricane, UnstableConcoction",18,3.055556
37,TFT7_Diana,"ArchangelsStaff, FrozenHeart, IonicSpark",23,2.434783
42,TFT7_DragonBlue,"GuinsoosRageblade, MadredsBloodrazor, UnstableConcoction",17,3.176471
47,TFT7_DragonGold,"BrambleVest, GargoyleStoneplate, RedBuff",15,2.733333
52,TFT7_DragonGreen,"Bloodthirster, Quicksilver, TitansResolve",12,2.916667
57,TFT7_DragonPurple,"InfinityEdge, Quicksilver, UnstableConcoction",14,2.571429
62,TFT7_Elise,"None, None, Shroud",16,3.500000
67,TFT7_Ezreal,"InfinityEdge, JeweledGauntlet, SeraphsEmbrace",17,3.882353
69,TFT7_Gnar,"None, None, Redemption",13,3.000000
74,TFT7_Hecarim,"None, None, StatikkShiv",12,3.333333
79,TFT7_Heimerdinger,"ForceOfNature, None, None",26,3.076923
84,TFT7_Illaoi,"None, None, ThiefsGloves",15,1.866667
89,TFT7_Jinx,"LocketOfTheIronSolari, None, None",14,3.857143
94,TFT7_Karma,"None, None, Shroud",15,3.733333
98,TFT7_Kayn,"None, None, None",23126,4.485211
103,TFT7_LeeSin,"None, None, Shroud",20,4.200000
107,TFT7_Leona,"None, None, TitanicHydra",13,3.769231
112,TFT7_Lillia,"None, None, Shroud",35,3.428571
117,TFT7_Lulu,"ForceOfNature, None, None",17,2.529412
122,TFT7_Nami,"None, None, ThiefsGloves",15,1.266667
127,TFT7_Neeko,"FrozenHeart, RedBuff, Redemption",14,2.785714
132,TFT7_Nidalee,"Deathblade, Quicksilver, RunaansHurricane",20,3.500000
137,TFT7_Nunu,"RedBuff, Redemption, WarmogsArmor",12,3.000000
142,TFT7_Olaf,"Quicksilver, RunaansHurricane, UnstableConcoction",16,2.875000
147,TFT7_Ornn,"None, None, ThiefsGloves",30,1.400000
152,TFT7_Pyke,"GuardianAngel, None, None",20,2.950000
157,TFT7_Qiyana,"HextechGunblade, None, None",14,3.071429
162,TFT7_Ryze,"None, None, Zephyr",21,3.666667
167,TFT7_Sejuani,"ForceOfNature, None, None",17,3.529412
172,TFT7_Senna,"None, None, None",23445,4.497505
173,TFT7_Sett,"GuinsoosRageblade, MadredsBloodrazor, Quicksilver",17,3.882353
178,TFT7_Shen,"AssassinEmblemItem, None, None",17,2.764706
183,TFT7_Shyvana,"None, None, None",22835,4.524633
185,TFT7_Skarner,"None, None, None",23273,4.494994
187,TFT7_Sona,"None, None, ThiefsGloves",15,1.400000
192,TFT7_Soraka,"GuinsoosRageblade, None, None",19,2.736842
197,TFT7_Swain,"None, None, Shroud",14,3.571429
202,TFT7_Sylas,"None, None, ThiefsGloves",15,1.666667
207,TFT7_TahmKench,"None, None, Shroud",13,3.538462
211,TFT7_Talon,"FrozenHeart, LastWhisper, RedBuff",14,2.714286
216,TFT7_Taric,"None, None, Shroud",14,2.785714
221,TFT7_Thresh,"NegatronCloak, None, None",14,3.214286
226,TFT7_TrainerDragon,"None, None, TrainerSnax",7172,4.432515
228,TFT7_Tristana,"LocketOfTheIronSolari, None, None",12,3.833333
233,TFT7_Twitch,"None, ZekesHerald, ZekesHerald",36,3.000000
238,TFT7_Varus,"GuinsoosRageblade, RunaansHurricane, StatikkShiv",14,3.214286
243,TFT7_Vladimir,"None, None, RedBuff",13,4.000000
248,TFT7_Volibear,"None, None, None",22946,4.479299
252,TFT7_Xayah,"GuinsoosRageblade, Quicksilver, UnstableConcoction",38,3.736842
257,TFT7_Yasuo,"None, None, ThiefsGloves",16,1.250000
262,TFT7_Yone,"None, None, Shroud",13,3.000000
267,TFT7_Zoe,"None, None, ThiefsGloves",20,1.600000

# Load TFT asset

In [274]:
tft_assets = read_json(os.path.join(ASSETS_DIR, f'en_us.json'))

In [275]:
tft7_set = tft_assets['setData'][6]['champions'] #['apiName'] ['traits']['name'] #['champions'] #['champions'].name

In [276]:
champions_dict = {}

for champion in tft7_set:
    if champion["apiName"] not in champions_dict:
        champions_dict[champion["apiName"]] = []
    for trait in champion["traits"]:
        champions_dict[champion["apiName"]].append(trait)

In [277]:
champions_dict['TFT7_Olaf']

['Scalescorn', 'Bruiser', 'Warrior']

# Team Composition Ranking

In [278]:
def add_traits(units_str):
    # for units in units_str.split(', '):
    comp_array = []
    if len(units_str) == 0:
        return ''
    for unit in units_str.split(', '):
        traits_array = []
        for trait in champions_dict[unit]:
            traits_array.append(trait[:2]+trait[-1:]) # Add first 2 char for trait
        traits_str = '-'.join(traits_array) + f'-{unit}'
        comp_array.append(traits_str)

    # print(f'{"".join(comp_array)}')
    return ','.join(comp_array)

def get_unit_comp_ranking(df: DataFrame, add_trait=True):
    # filter and melt the dataframe
    df = df.filter(['placement']+units_col)
    # join units lvl > 0 to 1 column
    df['comp'] = df[units_col].apply(lambda row: ', '.join(row[row > 0].index.values.astype(str)), axis=1)
    if add_trait:
        df['comp'] = df['comp'].apply(add_traits)

    df['comp'] = df['comp'].str.replace('TFT7_','') # remove prefix .split('_',1).str[-1]
    df = df.filter(['placement', 'comp'])
    m = df.melt(
        ['placement'], value_name=f'comp_grp')
    # group and aggregate mean/median average_placement
    dct = {'value_count': (f'comp_grp', 'count'),
           'average_placement': ('placement', 'mean')}
    return m.groupby([f'comp_grp'], as_index=False).agg(**dct).sort_values(by='average_placement')

In [279]:
# Get top5 
comp_df = get_unit_comp_ranking(df = matches_df)

In [280]:
top5_comp_list = []
m = comp_df[comp_df['value_count']>=1] #[:5] #Top 5 with counts >= 12
top5_comp_list.extend(m.values)
comp_ranking_df = pd.DataFrame(top5_comp_list, columns=['comp', 'value_count', 'average_placement'])

In [281]:
comp_ranking_df #.groupby('comp').head(1)

,comp,value_count,average_placement
0,"Tet-Drn-AoShin,Gud-Myc-Bad-Bard,Asl-Brr-Illaoi,Whs-Asn-Pyke,Gud-Mae-Ryze,Whs-Mae-Brr-Sylas,Gud-Asn-Talon,She-Spf-Mae-Zoe",1,1.0
1,"Gud-Myc-Bad-Bard,Rag-Car-Hecarim,Tet-Brr-Led-Ornn,Whs-Asn-Pyke,Gud-Mae-Ryze,Gud-Car-Sejuani,Gud-Asn-Talon,Gud-Swt-Twitch,Mie-Drr-War-Yasuo",1,1.0
2,"Gud-Myc-Bad-Bard,Rag-Car-Hecarim,Tet-Brr-Led-Ornn,Tet-Asn-Qiyana,Rag-Brr-War-Shen,Rag-Shr-Drn-Shyvana,Rag-Swt-Xayah,Mie-Drr-War-Yasuo",1,1.0
3,"She-War-Aatrox,Scn-Gun-Braum,Mie-Drn-DragonBlue,Mie-Gun-Leona,Mie-Car-Nunu,Scn-Brr-War-Olaf,Rag-Brr-War-Shen,Mie-War-Yone",1,1.0
4,"Gud-Myc-Bad-Bard,Rag-Car-Hecarim,Tet-Brr-Led-Ornn,Tet-Asn-Qiyana,Gud-Mae-Ryze,Gud-Car-Sejuani,Rag-Brr-War-Shen,Gud-Asn-Talon,Gud-Swt-Twitch,Rag-Swt-Xayah,Mi...",1,1.0
...,...,...,...
11394,"Jae-Shr-Gnar,Asl-Brr-Illaoi,Jae-Drr-Karma,Jae-Shr-Neeko,Asl-Brr-Skarner,Whs-Mae-Brr-Sylas",1,8.0
11395,"Jae-Shr-Gnar,Asl-Brr-Illaoi,Asl-Mae-Myc-Nami,Jae-Shr-Neeko,Asl-Shr-Nidalee,Asl-Mae-Vladimir,Mie-Drr-War-Yasuo",1,8.0
11396,"Jae-Myc-Drn-DragonGreen,Whs-Shr-Elise,Jae-Shr-Neeko,Whs-Mae-Brr-Sylas,Jae-Gun-Taric,Whs-Gun-Thresh",1,8.0
11397,"Jae-Shr-Gnar,Jae-Drr-Karma,Tet-Asn-Qiyana,Rag-Drr-Sett,Rag-Drr-Shr-Swain,Jae-Gun-Taric,She-Drr-Led-Volibear",1,8.0
11398,"Whs-Shr-Elise,Trr-Mae-Heimerdinger,Scn-Car-Mae-Lillia,Trr-Myc-Evr-Lulu,Jae-Shr-Neeko,Gud-Mae-Ryze,Whs-Mae-Brr-Sylas,-TrainerDragon",1,8.0

In [282]:
composition_ranking_df = comp_ranking_df.copy()

# Team composition Clustering

In [283]:
# from sentence_transformers import SentenceTransformer

# embedder = SentenceTransformer('all-MiniLM-L6-v2')

In [284]:
# corpus_sentences = list(comp_ranking_df['comp'])

# corpus_embeddings = embedder.encode(corpus_sentences, batch_size=512, show_progress_bar=True, convert_to_tensor=True)
# Normalize the embeddings to unit length
# corpus_embeddings = corpus_embeddings /  np.linalg.norm(corpus_embeddings, axis=1, keepdims=True)

In [285]:
# clustering_model = DBSCAN(eps=0.023, min_samples=1, metric='cosine', n_jobs=-1)
# predict=clustering_model.fit_predict(corpus_embeddings)
# comp_ranking_df['group'] = pd.Series(predict, index=comp_ranking_df.index)

In [286]:
# comp_ranking_df.sort_values(by='group')

In [287]:
# comp_ranking_df['grp_count'] = comp_ranking_df.groupby(['group'], as_index=False)['value_count'].transform('sum')
# comp_ranking_df['grp_placement'] = comp_ranking_df.groupby(['group'], as_index=False)['average_placement'].transform('mean')

In [288]:
# comp_ranking_df.sort_values(by='group')[:60]

In [289]:
# top5_comp_ranking_list = []
# m = comp_ranking_df[comp_ranking_df['grp_count']>=10] #[:5] #Top 5 with counts >= 12
# top5_comp_ranking_list.extend(m.values)
# top_comp_ranking_df = pd.DataFrame(top5_comp_ranking_list, columns=['comp', 'value_count', 'average_placement', 'group', 'grp_count', 'grp_placement'])

In [290]:
def remove_traits(units_str):
    """Remove units traits from text seperated by comma

    Args:
        units_str (str): traits-unit,traits-unit

    Returns:
        str: Units stripped of traits
    """    
    if len(units_str) == 0:
        return ''

    units_array = []
    for unit in units_str.split(','):
        units_array.append(unit.split('-')[-1])
    units = ', '.join(units_array)
    return units

# top_comp_ranking_df['comp'] = top_comp_ranking_df['comp'].apply(remove_traits)

In [291]:
# top_comp_ranking_df['mode'] = top_comp_ranking_df.groupby('group')['comp'].transform(lambda x: pd.Series.mode(x)[0])
# top_comp_ranking_df.groupby(['group']).head(1).sort_values(by='grp_placement')

In [292]:
# comp_ranking_df['comp'] = comp_ranking_df['comp'].apply(remove_traits)
# comp_ranking_df.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_comp_ranking.csv'), index=False)

In [293]:
# from statistics import mode
# import jellyfish

# import pandas as pd

# df = pd.DataFrame({'Code': ['abc', 'abc', 'abc', 'abcc', 'abcc', 'zxc'],
#                    'Description': ['ABC String', 'abc string', 'ABC String and sth', 'abc sth else', 'zxc sth else', 'zxc zxc'],
#                 #    'Value': [10, 20, 30, 40, 100]
#                    })

# df_list = []
# for grp,df in df.groupby('Code'):
#     df['distance'] = df['Description'].apply(lambda x : fuzz.token_set_ratio(x, mode(df['Description'])))
#     # df['Description'] =  mode(df['Description'])
#     df_list.append(df[df['distance'] > 10])

# df = pd.concat(df_list)

In [294]:
# comp_ranking_df.groupby('comp')['comp'].apply(lambda x : fuzz.token_set_ratio(x, ','.join(units_col)))

In [295]:
# df_list = []
# for grp,df in comp_ranking_df.groupby('comp'):
#     df['distance'] = df['comp'].apply(lambda x : fuzz.token_set_ratio(x, 'Aatrox, DragonGold, Kayn, Shen, Twitch, Xayah, Zoe'))
#     # df['Description'] =  mode(df['Description'])
#     df_list.append(df[df['distance'] > 10])

# df = pd.concat(df_list)

In [296]:
composition_ranking_df

,comp,value_count,average_placement
0,"Tet-Drn-AoShin,Gud-Myc-Bad-Bard,Asl-Brr-Illaoi,Whs-Asn-Pyke,Gud-Mae-Ryze,Whs-Mae-Brr-Sylas,Gud-Asn-Talon,She-Spf-Mae-Zoe",1,1.0
1,"Gud-Myc-Bad-Bard,Rag-Car-Hecarim,Tet-Brr-Led-Ornn,Whs-Asn-Pyke,Gud-Mae-Ryze,Gud-Car-Sejuani,Gud-Asn-Talon,Gud-Swt-Twitch,Mie-Drr-War-Yasuo",1,1.0
2,"Gud-Myc-Bad-Bard,Rag-Car-Hecarim,Tet-Brr-Led-Ornn,Tet-Asn-Qiyana,Rag-Brr-War-Shen,Rag-Shr-Drn-Shyvana,Rag-Swt-Xayah,Mie-Drr-War-Yasuo",1,1.0
3,"She-War-Aatrox,Scn-Gun-Braum,Mie-Drn-DragonBlue,Mie-Gun-Leona,Mie-Car-Nunu,Scn-Brr-War-Olaf,Rag-Brr-War-Shen,Mie-War-Yone",1,1.0
4,"Gud-Myc-Bad-Bard,Rag-Car-Hecarim,Tet-Brr-Led-Ornn,Tet-Asn-Qiyana,Gud-Mae-Ryze,Gud-Car-Sejuani,Rag-Brr-War-Shen,Gud-Asn-Talon,Gud-Swt-Twitch,Rag-Swt-Xayah,Mi...",1,1.0
...,...,...,...
11394,"Jae-Shr-Gnar,Asl-Brr-Illaoi,Jae-Drr-Karma,Jae-Shr-Neeko,Asl-Brr-Skarner,Whs-Mae-Brr-Sylas",1,8.0
11395,"Jae-Shr-Gnar,Asl-Brr-Illaoi,Asl-Mae-Myc-Nami,Jae-Shr-Neeko,Asl-Shr-Nidalee,Asl-Mae-Vladimir,Mie-Drr-War-Yasuo",1,8.0
11396,"Jae-Myc-Drn-DragonGreen,Whs-Shr-Elise,Jae-Shr-Neeko,Whs-Mae-Brr-Sylas,Jae-Gun-Taric,Whs-Gun-Thresh",1,8.0
11397,"Jae-Shr-Gnar,Jae-Drr-Karma,Tet-Asn-Qiyana,Rag-Drr-Sett,Rag-Drr-Shr-Swain,Jae-Gun-Taric,She-Drr-Led-Volibear",1,8.0
11398,"Whs-Shr-Elise,Trr-Mae-Heimerdinger,Scn-Car-Mae-Lillia,Trr-Myc-Evr-Lulu,Jae-Shr-Neeko,Gud-Mae-Ryze,Whs-Mae-Brr-Sylas,-TrainerDragon",1,8.0

# KMode
using - comp string

In [297]:
# # Elbow curve to find optimal K
# cost = []
# K = range(5,30,5)
# for num_clusters in list(K):
#     kmode = KModes(n_clusters=num_clusters, init = "random", n_init = 5, verbose=1)
#     kmode.fit_predict(composition_ranking_df)
#     cost.append(kmode.cost_)
    
# plt.plot(K, cost, 'bx-')
# plt.xlabel('No. of clusters')
# plt.ylabel('Cost')
# plt.title('Elbow Method For Optimal k')
# plt.show()

In [298]:
# # Building the model with 3 clusters
# kmode = KModes(n_clusters=15, init = "random", n_init = 5, verbose=1)
# clusters = kmode.fit_predict(composition_ranking_df)
# clusters

In [299]:
# kmode_ranking_df = composition_ranking_df.copy()
# kmode_ranking_df.insert(0, "group", clusters, True)

In [300]:
# kmode_ranking_df

In [301]:
# kmode_ranking_df['grp_count'] = kmode_ranking_df.groupby(['group'], as_index=False)['value_count'].transform('sum')
# kmode_ranking_df['grp_placement'] = kmode_ranking_df.groupby(['group'], as_index=False)['average_placement'].transform('mean')

In [302]:
# top5_comp_ranking_list = []
# m = comp_ranking_df[comp_ranking_df['grp_count']>=10] #[:5] #Top 5 with counts >= 12
# top5_comp_ranking_list.extend(m.values)
# top_comp_ranking_df = pd.DataFrame(top5_comp_ranking_list, columns=['comp', 'value_count', 'average_placement', 'group', 'grp_count', 'grp_placement'])

In [303]:
# kmode_ranking_df['comp'] = kmode_ranking_df['comp'].apply(remove_traits)
# kmode_ranking_df['mode'] = kmode_ranking_df.groupby('group')['comp'].transform(lambda x: pd.Series.mode(x)[0])
# kmode_ranking_df.groupby(['group']).head(1).sort_values(by='grp_placement')

# _

In [304]:
def get_unit_composition(df: matches_df):
    # filter and melt the dataframe
    df = df.filter(['placement']+units_col+traits_col)
    return df.sort_values(by='placement')

In [305]:
units_comp_df:DataFrame = get_unit_composition(matches_df)

In [306]:
units_comp_df

,placement,TFT7_Aatrox,TFT7_Anivia,TFT7_AoShin,TFT7_Ashe,TFT7_AurelionSol,TFT7_Bard,TFT7_Braum,TFT7_Corki,TFT7_Diana,...,Set7_Scalescorn,Set7_Shapeshifter,Set7_Shimmerscale,Set7_SpellThief,Set7_Starcaller,Set7_Swiftshot,Set7_Tempest,Set7_Trainer,Set7_Warrior,Set7_Whispers
18367,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,1,0
21360,1,0,0,0,0,0,2,0,2,0,...,0,0,0,0,0,0,0,1,0,1
2817,1,0,0,0,0,0,0,0,0,3,...,2,0,0,0,0,0,1,0,2,0
8264,1,0,0,2,0,0,0,0,0,0,...,0,0,0,1,0,0,2,1,0,0
8262,1,0,0,0,0,0,2,0,3,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2482,8,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,2,0,0
21628,8,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9948,8,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,1,0,0
18085,8,0,0,0,0,0,0,2,0,2,...,2,0,0,0,0,0,0,0,1,0
16059,8,1,0,0,0,0,0,0,0,0,...,0,0,4,1,1,0,0,0,1,0

## KMode
using integers

In [307]:
units_composition_df = units_comp_df.copy()

In [308]:
# # Elbow curve to find optimal K
# cost = []
# K = range(5,40,10)
# for num_clusters in list(K):
#     kmode = KModes(n_clusters=num_clusters, init = "random", n_init = 5, verbose=1)
#     kmode.fit_predict(units_composition_df)
#     cost.append(kmode.cost_)
    
# plt.plot(K, cost, 'bx-')
# plt.xlabel('No. of clusters')
# plt.ylabel('Cost')
# plt.title('Elbow Method For Optimal k')
# plt.show()

In [309]:
# Building the model with 3 clusters
kmode = KModes(n_clusters=25, init = "random", n_init = 5, verbose=1)
clusters = kmode.fit_predict(units_composition_df)
clusters

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 8268, cost: 203268.0
Run 1, iteration: 2/100, moves: 1979, cost: 202595.0
Run 1, iteration: 3/100, moves: 221, cost: 202595.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 10010, cost: 206387.0
Run 2, iteration: 2/100, moves: 2181, cost: 205683.0
Run 2, iteration: 3/100, moves: 356, cost: 205574.0
Run 2, iteration: 4/100, moves: 42, cost: 205574.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 7969, cost: 205444.0
Run 3, iteration: 2/100, moves: 1811, cost: 204654.0
Run 3, iteration: 3/100, moves: 486, cost: 204639.0
Run 3, iteration: 4/100, moves: 23, cost: 204639.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 8634, cost: 207439.0
Run 4, iteration: 2/100, moves: 3006, cost: 205544.0
Run 4, iteration: 3/100, moves: 692, cost: 205092.0
Run 4, iteration: 4/100, moves: 105, cost: 205092.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 9144, cost: 207940.0
Run 5, iteration: 2/100, moves: 2750, cost: 206524.0
Run 5, iteration: 3/100, moves: 853, cost: 206524.0
Best run was number 1

array([22, 11, 16, ...,  2, 10, 15], dtype=uint16)

In [310]:
kmode_ranking_df = units_composition_df.copy()
kmode_ranking_df.insert(0, "group", clusters, True)

In [311]:
kmode_ranking_df

,group,placement,TFT7_Aatrox,TFT7_Anivia,TFT7_AoShin,TFT7_Ashe,TFT7_AurelionSol,TFT7_Bard,TFT7_Braum,TFT7_Corki,...,Set7_Scalescorn,Set7_Shapeshifter,Set7_Shimmerscale,Set7_SpellThief,Set7_Starcaller,Set7_Swiftshot,Set7_Tempest,Set7_Trainer,Set7_Warrior,Set7_Whispers
18367,22,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,1,0
21360,11,1,0,0,0,0,0,2,0,2,...,0,0,0,0,0,0,0,1,0,1
2817,16,1,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,1,0,2,0
8264,13,1,0,0,2,0,0,0,0,0,...,0,0,0,1,0,0,2,1,0,0
8262,11,1,0,0,0,0,0,2,0,3,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2482,4,8,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,2,0,0
21628,14,8,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9948,2,8,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,1,0,0
18085,10,8,0,0,0,0,0,0,2,0,...,2,0,0,0,0,0,0,0,1,0
16059,15,8,1,0,0,0,0,0,0,0,...,0,0,4,1,1,0,0,0,1,0

In [312]:
def get_unit_composition_ranking(df: DataFrame, add_trait=True):
    # filter and melt the dataframe
    df = df.filter(['placement', 'group']+units_col)
    # join units lvl > 0 to 1 column
    df['comp'] = df[units_col].apply(lambda row: ', '.join(
        row[row > 0].index.values.astype(str)), axis=1)

    if add_trait:
        df['comp'] = df['comp'].apply(add_traits)

    df['comp'] = df['comp'].str.replace('TFT7_', '')
    df = df.filter(['placement', 'group', 'comp'])
    return df.sort_values(by='group')

In [313]:
kmode_ranking_df = get_unit_composition_ranking(kmode_ranking_df, add_trait=False)

In [314]:
kmode_ranking_df

,placement,group,comp
10614,2,0,"Elise, Gnar, Neeko, Nidalee, Pyke, Shyvana, Swain, Taric"
17212,3,0,"Ashe, DragonGreen, Elise, Gnar, Neeko, Nidalee, Swain, Talon"
4670,6,0,"DragonPurple, Elise, Karma, LeeSin, Neeko, Swain, Volibear, Yasuo"
4078,3,0,"Elise, Gnar, Neeko, Nidalee, Shyvana, Soraka, Swain, Yasuo"
12870,2,0,"DragonGreen, Elise, Gnar, Neeko, Nidalee, Pyke, Soraka"
...,...,...,...
17860,7,24,"Heimerdinger, Illaoi, Lillia, Lulu, Nami, Ryze, Sylas, TrainerDragon, Vladimir"
7183,7,24,"Bard, Heimerdinger, Illaoi, Lillia, Nami, Ryze, Sylas, Vladimir"
16032,8,24,"Heimerdinger, Illaoi, Nami, Ryze, Sylas, Vladimir"
6012,6,24,"Heimerdinger, Illaoi, Nami, Pyke, Ryze, Soraka, Sylas, Vladimir"
21235,8,24,"Heimerdinger, Illaoi, Lulu, Nami, Sona, Sylas, TrainerDragon, Vladimir"

In [315]:
kmode_ranking_df['grp_count'] = kmode_ranking_df.groupby(['group'], as_index=False)['group'].transform('count')
kmode_ranking_df['grp_placement'] = kmode_ranking_df.groupby(['group'], as_index=False)['placement'].transform('mean')

In [316]:
kmode_ranking_df

,placement,group,comp,grp_count,grp_placement
10614,2,0,"Elise, Gnar, Neeko, Nidalee, Pyke, Shyvana, Swain, Taric",873,4.302405
17212,3,0,"Ashe, DragonGreen, Elise, Gnar, Neeko, Nidalee, Swain, Talon",873,4.302405
4670,6,0,"DragonPurple, Elise, Karma, LeeSin, Neeko, Swain, Volibear, Yasuo",873,4.302405
4078,3,0,"Elise, Gnar, Neeko, Nidalee, Shyvana, Soraka, Swain, Yasuo",873,4.302405
12870,2,0,"DragonGreen, Elise, Gnar, Neeko, Nidalee, Pyke, Soraka",873,4.302405
...,...,...,...,...,...
17860,7,24,"Heimerdinger, Illaoi, Lillia, Lulu, Nami, Ryze, Sylas, TrainerDragon, Vladimir",1053,5.764482
7183,7,24,"Bard, Heimerdinger, Illaoi, Lillia, Nami, Ryze, Sylas, Vladimir",1053,5.764482
16032,8,24,"Heimerdinger, Illaoi, Nami, Ryze, Sylas, Vladimir",1053,5.764482
6012,6,24,"Heimerdinger, Illaoi, Nami, Pyke, Ryze, Soraka, Sylas, Vladimir",1053,5.764482
21235,8,24,"Heimerdinger, Illaoi, Lulu, Nami, Sona, Sylas, TrainerDragon, Vladimir",1053,5.764482

In [317]:
top5_comp_ranking_list = []
m = kmode_ranking_df[kmode_ranking_df['grp_count']>=10] #[:5] #Top 5 with counts >= 12
top5_comp_ranking_list.extend(m.values)
top_kmode_ranking_df = pd.DataFrame(top5_comp_ranking_list, columns=['placement', 'group', 'comp', 'grp_count', 'grp_placement'])

In [318]:
kmode_ranking_df['mode'] = kmode_ranking_df.groupby('group')['comp'].transform(lambda x: pd.Series.mode(x)[0])
kmode_ranking_df.groupby(['group']).head(1).sort_values(by='grp_placement')

,placement,group,comp,grp_count,grp_placement,mode
14372,3,1,"AurelionSol, Bard, Heimerdinger, Illaoi, Lulu, Nami, Ornn, Sona, TrainerDragon",1373,2.659869,"AoShin, Bard, Heimerdinger, Lulu, Ornn, Sylas, TrainerDragon, Zoe"
12985,1,21,"Braum, Diana, Lillia, Nunu, Olaf, Sejuani, Shen, Talon",420,2.771429,"Braum, Diana, Lillia, Olaf, Sejuani, Shen, Talon"
19958,6,6,"Bard, Hecarim, Ornn, Sejuani, Shen, Twitch, Xayah, Yasuo",676,3.414201,"Bard, Hecarim, Ornn, Qiyana, Sejuani, Shen, Talon, Twitch, Xayah"
7296,8,16,"Diana, Olaf, Ornn, Qiyana, Shen, Sylas, Talon",806,3.619107,"Diana, Olaf, Ornn, Pyke, Qiyana, Shen, Sylas, Talon"
11818,4,11,"Bard, Corki, DragonGold, Lulu, Sona, Thresh, TrainerDragon, Tristana",746,3.804290,"Bard, Braum, Corki, DragonGold, Lulu, Sona, TrainerDragon, Tristana"
18898,5,17,"AoShin, Bard, Lulu, Ornn, Sona, Sylas, TrainerDragon, Tristana, Zoe",686,3.842566,"AoShin, Bard, Lulu, Nami, Ornn, Sylas, Zoe"
16820,8,19,"DragonPurple, Elise, Neeko, Ornn, Qiyana, Talon",678,3.941003,"Diana, DragonPurple, Kayn, Ornn, Pyke, Qiyana, Talon"
4107,5,8,"Bard, Corki, DragonGreen, Gnar, Lulu, Neeko, Soraka, TrainerDragon, Tristana",826,4.193705,"Anivia, Ashe, DragonGreen, Gnar, Lulu, Neeko, Soraka"
12947,3,3,"Bard, Illaoi, Lulu, Nami, Ornn, Qiyana, Talon, Twitch, Varus",1950,4.272308,"Heimerdinger, Illaoi, Lulu, Nami, Sylas, TrainerDragon, Twitch, Varus"
10614,2,0,"Elise, Gnar, Neeko, Nidalee, Pyke, Shyvana, Swain, Taric",873,4.302405,"Elise, Gnar, Neeko, Nidalee, Shyvana, Soraka, Swain"
13688,1,23,"Hecarim, Senna, Sett, Shen, Shyvana, Swain, Xayah, Yasuo",366,4.352459,"Hecarim, Kayn, Sett, Shen, Shyvana, Swain, Xayah"
23447,1,12,"Bard, DragonPurple, Elise, Neeko, Pyke, Sylas, Talon, Twitch",1270,4.435433,"DragonPurple, Elise, Neeko, Soraka, Sylas, Taric, Thresh"
8177,6,13,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sona, Sylas, TrainerDragon, Zoe",1406,4.436700,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sona, Sylas, TrainerDragon, Zoe"
10015,6,14,"DragonBlue, Hecarim, Leona, Lillia, Nunu, Yasuo, Yone",1149,4.538729,"DragonBlue, Hecarim, Lillia, Nunu, Sejuani, Yasuo, Yone"
10108,5,9,"Corki, DragonPurple, Heimerdinger, Lulu, Ryze, Sona, Sylas, TrainerDragon",1148,4.709930,"AoShin, Heimerdinger, Lulu, Ornn, Sona, Sylas, TrainerDragon, Zoe"
8138,3,18,"DragonPurple, Ornn, Qiyana, Shen, Sylas, Talon, Thresh",644,4.902174,"DragonPurple, Ornn, Pyke, Qiyana, Shen, Sylas, Thresh"
6788,3,22,"Hecarim, Ornn, Qiyana, Sejuani, Shen, Talon, Twitch, Xayah",1684,4.925772,"Hecarim, Ornn, Qiyana, Sejuani, Shen, Talon, Twitch, Xayah"
14564,7,7,"Corki, DragonBlue, Jinx, Lulu, Sona, TahmKench, TrainerDragon, Tristana",974,4.949692,"Corki, DragonGold, Jinx, Lulu, Sona, Thresh, TrainerDragon, Tristana"
9476,7,5,"Ashe, DragonBlue, Karma, LeeSin, Nunu, Sett, Yone",655,4.958779,"Ashe, DragonGreen, Ezreal, Karma, LeeSin, Leona, Taric"
9279,6,10,"Braum, Diana, Lillia, Nunu, Olaf, Shen",1104,5.227355,"Braum, Diana, Lillia, Nunu, Olaf, Sejuani, Shen"
8491,1,15,"DragonGold, Hecarim, Kayn, Talon, Twitch, Volibear, Xayah, Zoe",321,5.327103,"Aatrox, DragonGold, Kayn, Shen, Volibear, Xayah, Zoe"
10486,4,2,"Aatrox, AoShin, Braum, LeeSin, Shen, Volibear, Xayah",637,5.389325,"Corki, DragonGold, Jinx, Lulu, Senna, Thresh, TrainerDragon, Tristana"
9824,3,4,"AoShin, Bard, Hecarim, Neeko, Ornn, Sona, Yasuo",2026,5.467423,"AurelionSol, Illaoi, Nami, Nidalee, Skarner, Varus, Vladimir"
2366,8,24,"Heimerdinger, Illaoi, Lillia, Nami, Neeko, Ryze, Skarner, Sylas",1053,5.764482,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sylas, TrainerDragon, Vladimir"
12965,8,20,"Braum, Corki, DragonGold, Lulu, Sona, Talon, TrainerDragon, Tristana",145,5.972414,"Bard, Braum, Corki, DragonGold, Lulu, Sona, TrainerDragon, Tristana"

In [319]:
kmode_ranking_df.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_kmode_comp_ranking.csv'), index=False)

## KMeans

In [320]:
units_composition_df = units_comp_df.copy()
X = units_composition_df.copy()
X.pop(TARGETNAME)

18367    1
21360    1
2817     1
8264     1
8262     1
        ..
2482     8
21628    8
9948     8
18085    8
16059    8
Name: placement, Length: 23616, dtype: int64

In [321]:
# normalization to improve the k-means result.
normalizer = Normalizer(copy=False)
# kms = KMeans(n_clusters=num_clusters, init = "k-means++", n_init = 10, verbose=1)
# kmeans = make_pipeline(normalizer, kms)

In [322]:
# # Elbow curve to find optimal K
# cost = []
# K = range(5,40,10)
# for num_clusters in list(K):
#     kmeans.fit_predict(X)
#     cost.append(kmeans[-1].inertia_)
    
# plt.plot(K, cost, 'bx-')
# plt.xlabel('No. of clusters')
# plt.ylabel('Cost')
# plt.title('Elbow Method For Optimal k')
# plt.show()

In [323]:
# Building the model with 30 clusters
kms = KMeans(n_clusters=30, init = "k-means++", n_init = 10, verbose=1)
kmeans = make_pipeline(normalizer, kms)
clusters = kmeans.fit_predict(X)
clusters

Initialization complete
Iteration 0, inertia 10351.530001147366.
Iteration 1, inertia 6807.854379875499.
Iteration 2, inertia 6663.144344320976.
Iteration 3, inertia 6630.644921974086.
Iteration 4, inertia 6614.647704639863.
Iteration 5, inertia 6605.660020229707.
Iteration 6, inertia 6602.459406346255.
Iteration 7, inertia 6600.969262177219.
Iteration 8, inertia 6600.233786979943.
Iteration 9, inertia 6599.766704450784.
Iteration 10, inertia 6599.273263034257.
Iteration 11, inertia 6599.079516007365.
Iteration 12, inertia 6598.7775967701355.
Iteration 13, inertia 6598.385055333133.
Iteration 14, inertia 6598.02526269256.
Iteration 15, inertia 6597.780933351165.
Iteration 16, inertia 6597.543638577995.
Iteration 17, inertia 6597.36769127527.
Iteration 18, inertia 6596.953384454617.
Iteration 19, inertia 6596.686150965153.
Iteration 20, inertia 6596.444589375736.
Iteration 21, inertia 6596.258646244335.
Iteration 22, inertia 6596.12655691169.
Iteration 23, inertia 6596.059629822346.
Iteration 24, inertia 6595.982775422051.
Iteration 25, inertia 6595.970435117764.
Iteration 26, inertia 6595.9678978332595.
Converged at iteration 26: strict convergence.
Initialization complete
Iteration 0, inertia 10822.068471540062.
Iteration 1, inertia 7148.623998811771.
Iteration 2, inertia 6838.048023247394.
Iteration 3, inertia 6724.541075006479.
Iteration 4, inertia 6666.4994827029695.
Iteration 5, inertia 6645.999848498505.
Iteration 6, inertia 6637.271565923016.
Iteration 7, inertia 6631.8356841561745.
Iteration 8, inertia 6627.614639214589.
Iteration 9, inertia 6622.494605995509.
Iteration 10, inertia 6614.953969455138.
Iteration 11, inertia 6601.908411941928.
Iteration 12, inertia 6589.045899995954.
Iteration 13, inertia 6586.975332356449.
Iteration 14, inertia 6586.225486360245.
Iteration 15, inertia 6585.9879363777545.
Iteration 16, inertia 6585.769844562919.
Iteration 17, inertia 6585.643312302825.
Iteration 18, inertia 6585.5656770852665.
Iteration 19, inertia 6585.519830968981.
Iteration 20, inertia 6585.486617758443.
Iteration 21, inertia 6585.4451740920995.
Iteration 22, inertia 6585.427908748275.
Iteration 23, inertia 6585.423587199259.
Iteration 24, inertia 6585.420294947508.
Converged at iteration 24: strict convergence.
Initialization complete
Iteration 0, inertia 10535.71821178855.
Iteration 1, inertia 6859.431408648974.
Iteration 2, inertia 6711.416946349788.
Iteration 3, inertia 6660.371870814669.
Iteration 4, inertia 6639.3801460400555.
Iteration 5, inertia 6628.581982935342.
Iteration 6, inertia 6618.6687420176195.
Iteration 7, inertia 6611.967797712027.
Iteration 8, inertia 6608.224250747807.
Iteration 9, inertia 6605.985218410758.
Iteration 10, inertia 6604.190085934722.
Iteration 11, inertia 6601.288128892677.
Iteration 12, inertia 6595.934932470461.
Iteration 13, inertia 6588.834492371141.
Iteration 14, inertia 6581.887933303319.
Iteration 15, inertia 6576.81626772869.
Iteration 16, inertia 6574.990582164135.
Iteration 17, inertia 6573.546369113238.
Iteration 18, inertia 6571.493728674157.
Iteration 19, inertia 6569.507073015608.
Iteration 20, inertia 6567.7194752598225.
Iteration 21, inertia 6567.017379591521.
Iteration 22, inertia 6566.852905579797.
Iteration 23, inertia 6566.775837934963.
Iteration 24, inertia 6566.74348525109.
Iteration 25, inertia 6566.701026886327.
Iteration 26, inertia 6566.661973829248.
Iteration 27, inertia 6566.640895556027.
Iteration 28, inertia 6566.632469588381.
Iteration 29, inertia 6566.630094053699.
Converged at iteration 29: strict convergence.
Initialization complete
Iteration 0, inertia 10255.475636085612.
Iteration 1, inertia 6914.841687545253.
Iteration 2, inertia 6747.561917250334.
Iteration 3, inertia 6682.4815573585975.
Iteration 4, inertia 6642.7005927374.
Iteration 5, inertia 6627.863599441032.
Iteration 6, inertia 6622.348237185129.
Iteration 7, inertia 6619.752944153368.
Iteration 8, inertia 6618.316350516161.
Iteration 9, inertia 6617.013338569854.
Iteration 10, inertia 6615.989009493101.
Iteration 11, inertia 6615.037130823601.
Iteration 12, inertia 6614.0727973412295.
Iteration 13, inertia 6613.727497115211.
Iteration 14, inertia 6613.567294699879.
Iteration 15, inertia 6613.40434214074.
Iteration 16, inertia 6613.301773735251.
Iteration 17, inertia 6613.241332474088.
Iteration 18, inertia 6613.198817070954.
Iteration 19, inertia 6613.167761827598.
Iteration 20, inertia 6613.164166472877.
Converged at iteration 20: strict convergence.
Initialization complete
Iteration 0, inertia 10400.126769265102.
Iteration 1, inertia 6825.57879146828.
Iteration 2, inertia 6641.58552345242.
Iteration 3, inertia 6584.003047298293.
Iteration 4, inertia 6556.24244446887.
Iteration 5, inertia 6543.075686316116.
Iteration 6, inertia 6539.035329756783.
Iteration 7, inertia 6535.805923937583.
Iteration 8, inertia 6532.937536828588.
Iteration 9, inertia 6529.561218802044.
Iteration 10, inertia 6525.622958657126.
Iteration 11, inertia 6523.294142589016.
Iteration 12, inertia 6522.186789709408.
Iteration 13, inertia 6521.898669151873.
Iteration 14, inertia 6521.843308713699.
Iteration 15, inertia 6521.786225529999.
Iteration 16, inertia 6521.741179893034.
Iteration 17, inertia 6521.715422526723.
Iteration 18, inertia 6521.6792649680965.
Iteration 19, inertia 6521.639188687018.
Iteration 20, inertia 6521.619446032175.
Iteration 21, inertia 6521.615230752746.
Iteration 22, inertia 6521.611899142153.
Iteration 23, inertia 6521.609680460491.
Converged at iteration 23: strict convergence.
Initialization complete
Iteration 0, inertia 11203.726901766993.
Iteration 1, inertia 7123.606584293181.
Iteration 2, inertia 6798.237551634737.
Iteration 3, inertia 6698.075803656796.
Iteration 4, inertia 6664.410025007622.
Iteration 5, inertia 6646.642295816958.
Iteration 6, inertia 6636.4268689071905.
Iteration 7, inertia 6628.9407918200795.
Iteration 8, inertia 6624.29208209462.
Iteration 9, inertia 6622.750310674627.
Iteration 10, inertia 6621.835359936934.
Iteration 11, inertia 6621.185034462959.
Iteration 12, inertia 6620.855096504476.
Iteration 13, inertia 6620.634292540332.
Iteration 14, inertia 6620.466741939806.
Iteration 15, inertia 6620.352007400509.
Iteration 16, inertia 6620.258225641487.
Iteration 17, inertia 6620.195799000868.
Iteration 18, inertia 6620.147155297304.
Iteration 19, inertia 6620.091960549013.
Iteration 20, inertia 6620.058809222414.
Iteration 21, inertia 6620.043979329836.
Iteration 22, inertia 6620.034525426552.
Iteration 23, inertia 6620.028431338035.
Iteration 24, inertia 6620.025560844268.
Iteration 25, inertia 6620.021604849242.
Iteration 26, inertia 6620.018017088441.
Iteration 27, inertia 6620.011409956134.
Converged at iteration 27: strict convergence.
Initialization complete
Iteration 0, inertia 10227.905723270358.
Iteration 1, inertia 6900.916944944727.
Iteration 2, inertia 6771.505744928369.
Iteration 3, inertia 6725.373044591381.
Iteration 4, inertia 6691.925708663237.
Iteration 5, inertia 6652.122963625603.
Iteration 6, inertia 6623.772376450057.
Iteration 7, inertia 6614.289225226162.
Iteration 8, inertia 6610.435557065579.
Iteration 9, inertia 6608.096920915048.
Iteration 10, inertia 6604.574820699594.
Iteration 11, inertia 6600.0161968014.
Iteration 12, inertia 6598.486112261927.
Iteration 13, inertia 6598.180536076051.
Iteration 14, inertia 6598.044343703592.
Iteration 15, inertia 6597.953352147753.
Iteration 16, inertia 6597.867203338077.
Iteration 17, inertia 6597.815589605362.
Iteration 18, inertia 6597.798795154565.
Converged at iteration 18: strict convergence.
Initialization complete
Iteration 0, inertia 10506.426732784574.
Iteration 1, inertia 6863.982550588056.
Iteration 2, inertia 6741.291782149042.
Iteration 3, inertia 6703.792135328382.
Iteration 4, inertia 6670.261085067413.
Iteration 5, inertia 6650.072278807827.
Iteration 6, inertia 6641.210555209107.
Iteration 7, inertia 6637.074257643559.
Iteration 8, inertia 6631.984041593341.
Iteration 9, inertia 6624.913135145183.
Iteration 10, inertia 6618.471327318149.
Iteration 11, inertia 6613.076185807607.
Iteration 12, inertia 6608.413114657858.
Iteration 13, inertia 6605.371873676335.
Iteration 14, inertia 6604.187928329076.
Iteration 15, inertia 6603.824834541349.
Iteration 16, inertia 6603.688810008953.
Iteration 17, inertia 6603.6136657499355.
Iteration 18, inertia 6603.577735749439.
Iteration 19, inertia 6603.557180165561.
Iteration 20, inertia 6603.543643458683.
Iteration 21, inertia 6603.53676484621.
Iteration 22, inertia 6603.5328080308755.
Iteration 23, inertia 6603.528753427114.
Iteration 24, inertia 6603.524705999975.
Iteration 25, inertia 6603.5219158611235.
Iteration 26, inertia 6603.5201681101435.
Converged at iteration 26: strict convergence.
Initialization complete
Iteration 0, inertia 10113.632496592712.
Iteration 1, inertia 6838.9884531374555.
Iteration 2, inertia 6705.125405552203.
Iteration 3, inertia 6676.372211299388.
Iteration 4, inertia 6662.767038215823.
Iteration 5, inertia 6647.991885174263.
Iteration 6, inertia 6632.31627397388.
Iteration 7, inertia 6627.06109151638.
Iteration 8, inertia 6622.879499963951.
Iteration 9, inertia 6618.301628744643.
Iteration 10, inertia 6615.1348149637215.
Iteration 11, inertia 6612.587020144546.
Iteration 12, inertia 6610.234596966136.
Iteration 13, inertia 6607.227854805595.
Iteration 14, inertia 6605.380303222516.
Iteration 15, inertia 6602.869614654593.
Iteration 16, inertia 6598.473451046214.
Iteration 17, inertia 6593.091589527249.
Iteration 18, inertia 6589.726804885752.
Iteration 19, inertia 6589.339689954767.
Iteration 20, inertia 6589.209076150536.
Iteration 21, inertia 6589.108103561487.
Iteration 22, inertia 6589.032638166784.
Iteration 23, inertia 6588.959056407156.
Iteration 24, inertia 6588.8887839843455.
Iteration 25, inertia 6588.858043448939.
Iteration 26, inertia 6588.833333014855.
Iteration 27, inertia 6588.825823066599.
Iteration 28, inertia 6588.816224387627.
Iteration 29, inertia 6588.803771928948.
Iteration 30, inertia 6588.799835353026.
Iteration 31, inertia 6588.7978864539.
Iteration 32, inertia 6588.79597503355.
Iteration 33, inertia 6588.795327740142.
Converged at iteration 33: strict convergence.
Initialization complete
Iteration 0, inertia 9880.138580561492.
Iteration 1, inertia 6795.722155383539.
Iteration 2, inertia 6693.987518363474.
Iteration 3, inertia 6669.187266224922.
Iteration 4, inertia 6649.601465618111.
Iteration 5, inertia 6633.019956307598.
Iteration 6, inertia 6623.414946924855.
Iteration 7, inertia 6619.010938185285.
Iteration 8, inertia 6617.107738237898.
Iteration 9, inertia 6616.135450055835.
Iteration 10, inertia 6615.5839149274.
Iteration 11, inertia 6615.179043226428.
Iteration 12, inertia 6614.769879380201.
Iteration 13, inertia 6614.3922604281415.
Iteration 14, inertia 6614.081258878472.
Iteration 15, inertia 6613.643276397954.
Iteration 16, inertia 6612.9958983719.
Iteration 17, inertia 6612.070419224448.
Iteration 18, inertia 6610.509771212791.
Iteration 19, inertia 6608.085466393595.
Iteration 20, inertia 6603.920199808083.
Iteration 21, inertia 6596.171671890167.
Iteration 22, inertia 6587.159962660272.
Iteration 23, inertia 6581.682982639588.
Iteration 24, inertia 6578.813418311074.
Iteration 25, inertia 6577.92916402113.
Iteration 26, inertia 6577.623551859078.
Iteration 27, inertia 6577.530042434942.
Iteration 28, inertia 6577.5016673758555.
Iteration 29, inertia 6577.491628070985.
Iteration 30, inertia 6577.48221891545.
Iteration 31, inertia 6577.463555932267.
Iteration 32, inertia 6577.442626158669.
Iteration 33, inertia 6577.429706983493.
Converged at iteration 33: strict convergence.

array([26, 19,  8, ...,  9, 11, 15])

In [324]:
kmeans_ranking_df = units_composition_df.copy()
kmeans_ranking_df.insert(0, "group", clusters, True)

In [325]:
kmeans_ranking_df

,group,placement,TFT7_Aatrox,TFT7_Anivia,TFT7_AoShin,TFT7_Ashe,TFT7_AurelionSol,TFT7_Bard,TFT7_Braum,TFT7_Corki,...,Set7_Scalescorn,Set7_Shapeshifter,Set7_Shimmerscale,Set7_SpellThief,Set7_Starcaller,Set7_Swiftshot,Set7_Tempest,Set7_Trainer,Set7_Warrior,Set7_Whispers
18367,26,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,1,0
21360,19,1,0,0,0,0,0,2,0,2,...,0,0,0,0,0,0,0,1,0,1
2817,8,1,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,1,0,2,0
8264,5,1,0,0,2,0,0,0,0,0,...,0,0,0,1,0,0,2,1,0,0
8262,9,1,0,0,0,0,0,2,0,3,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2482,19,8,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,2,0,0
21628,29,8,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9948,9,8,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,1,0,0
18085,11,8,0,0,0,0,0,0,2,0,...,2,0,0,0,0,0,0,0,1,0
16059,15,8,1,0,0,0,0,0,0,0,...,0,0,4,1,1,0,0,0,1,0

In [326]:
kmeans_ranking_df = get_unit_composition_ranking(kmeans_ranking_df, add_trait=False)

In [327]:
kmeans_ranking_df

,placement,group,comp
21891,2,0,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sona, Sylas, TrainerDragon, Vladimir"
22798,6,0,"Heimerdinger, Illaoi, Lillia, Nami, Ryze, Sylas, Vladimir"
21290,3,0,"Illaoi, Nami, Ryze, Shen, Skarner, Sylas, Vladimir, Yasuo"
21011,8,0,"Heimerdinger, Illaoi, Lulu, Nami, Ornn, Ryze, TrainerDragon, Vladimir"
11105,3,0,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Soraka, Sylas, TrainerDragon, Vladimir, Zoe"
...,...,...,...
15148,4,29,"DragonBlue, Hecarim, Nunu, Ryze, Sejuani, Twitch, Yasuo"
11191,5,29,"DragonBlue, Hecarim, Nunu, Sona, Yasuo, Yone"
12284,3,29,"DragonBlue, Hecarim, Lillia, Nunu, Ornn, Shen, Yone"
4512,5,29,"DragonBlue, Hecarim, Nunu, Sejuani, Twitch, Yasuo, Yone"
5496,4,29,"Corki, Hecarim, Lulu, Nunu, Sejuani, Sona, TrainerDragon, Tristana, Yasuo"

In [328]:
kmeans_ranking_df['grp_count'] = kmeans_ranking_df.groupby(['group'], as_index=False)['group'].transform('count')
kmeans_ranking_df['grp_placement'] = kmeans_ranking_df.groupby(['group'], as_index=False)['placement'].transform('mean')

In [329]:
kmeans_ranking_df['mode'] = kmeans_ranking_df.groupby('group')['comp'].transform(lambda x: pd.Series.mode(x)[0])
kmeans_ranking_df.groupby(['group']).head(1).sort_values(by='grp_placement')

,placement,group,comp,grp_count,grp_placement,mode
12940,4,23,"AoShin, Bard, Heimerdinger, Lulu, Ornn, Sylas, TrainerDragon, Zoe",967,3.327818,"AoShin, Bard, Heimerdinger, Lulu, Ornn, Sylas, TrainerDragon, Zoe"
13980,5,20,"AoShin, Ezreal, LeeSin, Ornn, Pyke, Qiyana, Shen",814,3.599509,"AoShin, Bard, Lulu, Nami, Ornn, Sylas, Zoe"
16911,2,5,"AoShin, Heimerdinger, Lulu, Nami, Ornn, Ryze, Sylas, TrainerDragon, Zoe",851,3.623972,"AoShin, Heimerdinger, Lulu, Nami, Ornn, Sylas, TrainerDragon, Zoe"
6601,1,8,"Braum, Diana, Olaf, Ornn, Qiyana, Shen, Talon, Yasuo",763,4.058978,"Braum, Diana, Lillia, Olaf, Ornn, Qiyana, Shen, Talon"
13676,6,4,"Anivia, Bard, DragonGreen, Gnar, Lulu, Neeko, Talon",473,4.103594,"Anivia, Bard, DragonGreen, Gnar, Lulu, Neeko, Yasuo"
6953,6,7,"Illaoi, Nami, Ornn, Shen, Sylas, Twitch, Varus",581,4.142857,"Bard, Illaoi, Nami, Ornn, Qiyana, Talon, Twitch, Varus"
13207,2,25,"Diana, Kayn, Olaf, Ornn, Pyke, Qiyana, Talon, Thresh",629,4.187599,"Diana, Olaf, Ornn, Pyke, Qiyana, Shen, Sylas, Talon"
16687,6,10,"Bard, Hecarim, Neeko, Ornn, Qiyana, Sona, Thresh, Volibear, Xayah, Yasuo",298,4.255034,
11770,2,22,"AurelionSol, Heimerdinger, Illaoi, Lulu, Nami, Sylas, TrainerDragon, Tristana, Varus",1432,4.355447,"Heimerdinger, Illaoi, Lulu, Nami, Sylas, TrainerDragon, Twitch, Varus"
8206,7,1,"DragonPurple, Olaf, Ornn, Qiyana, Sylas, Talon",1155,4.413853,"DragonPurple, Ornn, Pyke, Qiyana, Shen, Sylas, Thresh"
21366,4,13,"Anivia, DragonGreen, Elise, Gnar, Neeko, Nidalee",752,4.436170,"Elise, Gnar, Neeko, Nidalee, Shyvana, Soraka, Swain"
5493,4,12,"DragonPurple, Elise, Neeko, Ornn, Shen, Sylas, Thresh",1376,4.460756,"DragonPurple, Elise, Neeko, Soraka, Sylas, Taric, Thresh"
9273,1,3,"Corki, DragonBlue, Jinx, Neeko, Ornn, Sona, TahmKench, Yasuo",347,4.524496,"Corki, DragonBlue, Jinx, Lulu, Ornn, Sona, TahmKench"
18210,5,29,"DragonBlue, Hecarim, Leona, Lillia, Nunu, Yasuo, Yone",960,4.551042,"DragonBlue, Hecarim, Lillia, Nunu, Sejuani, Yasuo, Yone"
16807,1,26,"Hecarim, Ornn, Qiyana, Sejuani, Shen, Talon, Twitch, Xayah",2399,4.570654,"Hecarim, Ornn, Qiyana, Sejuani, Shen, Talon, Twitch, Xayah"
4343,3,9,"Corki, DragonGold, Lulu, Pyke, Sona, Talon, Thresh, TrainerDragon, Tristana",1036,4.581081,"Bard, Braum, Corki, DragonGold, Lulu, Sona, TrainerDragon, Tristana"
6537,6,19,"Corki, DragonPurple, Heimerdinger, Lulu, Ryze, Sona, Sylas, TrainerDragon",831,4.604091,"Corki, DragonPurple, Heimerdinger, Lulu, Sona, Sylas, TrainerDragon, Zoe"
13196,7,27,"Illaoi, Qiyana, Shen, Talon, Twitch, Varus",470,4.655319,"Ezreal, Illaoi, Ornn, Shen, Skarner, Twitch, Varus, Xayah"
2122,6,11,"Braum, Diana, Lillia, Nunu, Olaf, Sejuani, Shen",1126,4.661634,"Braum, Diana, Lillia, Olaf, Sejuani, Shen, Talon"
20176,4,24,"Ashe, Braum, Ezreal, Karma, LeeSin, Olaf, Taric, Varus",181,4.801105,"Ashe, DragonGreen, Ezreal, Karma, LeeSin, Leona, Taric"
1067,7,18,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sona, Sylas, TrainerDragon, Zoe",1344,4.808036,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sona, Sylas, TrainerDragon, Zoe"
19776,3,21,"Hecarim, Kayn, Sett, Shen, Shyvana, Swain, Talon",324,4.845679,"Hecarim, Kayn, Sett, Shen, Shyvana, Swain, Xayah"
19456,5,2,"Anivia, Hecarim, Karma, LeeSin, Nunu, Ornn, Volibear",270,4.859259,"Anivia, Ashe, Hecarim, Karma, Nunu, Ornn, Sejuani, Volibear"
17998,4,14,"Ashe, Karma, LeeSin, Neeko, Sett, Shen, Swain, Volibear",499,4.919840,"Ashe, Gnar, Neeko, Sett, Shyvana, Swain, Xayah"
21689,4,16,"DragonBlue, Leona, Nunu, Ornn, Talon, Yasuo, Yone",485,4.925773,"DragonBlue, Leona, Nunu, Olaf, Shen, Yasuo, Yone"
11585,8,6,"Heimerdinger, Lillia, Nami, Sejuani, Twitch",423,5.011820,"Diana, Hecarim, Lillia, Ryze, Sejuani, Talon, Twitch, Zoe"
12968,1,17,"Braum, Corki, Jinx, Lulu, Sona, Sylas, Thresh, TrainerDragon, Tristana",738,5.017615,"Braum, Corki, Jinx, Lulu, Senna, Sona, Thresh, TrainerDragon, Tristana"
7000,5,28,"Ashe, DragonGreen, Nami, Neeko, Soraka, Swain, Yasuo",333,5.048048,"Anivia, Ashe, DragonGreen, Gnar, Lulu, Neeko, Soraka"
21891,2,0,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sona, Sylas, TrainerDragon, Vladimir",1288,5.306677,"Heimerdinger, Illaoi, Lulu, Nami, Ryze, Sylas, TrainerDragon, Vladimir"
14623,8,15,"Aatrox, DragonGold, Hecarim, Kayn, Volibear, Xayah, Zoe",471,5.467091,"Aatrox, DragonGold, Kayn, Shen, Volibear, Xayah, Zoe"

In [330]:
kmeans_ranking_df.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_kmeans_comp_ranking.csv'), index=False)

## DBSCAN

In [331]:
units_composition_df = units_comp_df.copy()
X = units_composition_df.copy()
X.pop(TARGETNAME)

18367    1
21360    1
2817     1
8264     1
8262     1
        ..
2482     8
21628    8
9948     8
18085    8
16059    8
Name: placement, Length: 23616, dtype: int64

In [332]:
units_composition_df.shape

(23616, 88)

In [333]:
# Building the model with 3 clusters
# normalization to improve the k-means result.
normalizer = Normalizer(copy=False)
dbs= DBSCAN(eps=0.37, metric='euclidean', min_samples=3, n_jobs=-1) #eps=0.053, metric='cosine'
dbscan = make_pipeline(normalizer, dbs)
clusters = dbscan.fit_predict(X)
clusters

array([ 0,  2,  1, ..., -1,  1,  5], dtype=int64)

In [334]:
dbscan_ranking_df = units_composition_df.copy()
dbscan_ranking_df.insert(0, "group", clusters, True)

In [335]:
dbscan_ranking_df

,group,placement,TFT7_Aatrox,TFT7_Anivia,TFT7_AoShin,TFT7_Ashe,TFT7_AurelionSol,TFT7_Bard,TFT7_Braum,TFT7_Corki,...,Set7_Scalescorn,Set7_Shapeshifter,Set7_Shimmerscale,Set7_SpellThief,Set7_Starcaller,Set7_Swiftshot,Set7_Tempest,Set7_Trainer,Set7_Warrior,Set7_Whispers
18367,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,1,0
21360,2,1,0,0,0,0,0,2,0,2,...,0,0,0,0,0,0,0,1,0,1
2817,1,1,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,1,0,2,0
8264,2,1,0,0,2,0,0,0,0,0,...,0,0,0,1,0,0,2,1,0,0
8262,2,1,0,0,0,0,0,2,0,3,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2482,-1,8,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,2,0,0
21628,10,8,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9948,-1,8,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,1,0,0
18085,1,8,0,0,0,0,0,0,2,0,...,2,0,0,0,0,0,0,0,1,0
16059,5,8,1,0,0,0,0,0,0,0,...,0,0,4,1,1,0,0,0,1,0

In [336]:
dbscan_ranking_df = get_unit_composition_ranking(dbscan_ranking_df, add_trait=False)

In [337]:
dbscan_ranking_df

,placement,group,comp
14572,7,-1,"Corki, DragonGold, Heimerdinger, Ornn, Qiyana, Sona, Sylas, TrainerDragon, Tristana, Zoe"
10834,2,-1,"Bard, DragonGreen, Gnar, Lulu, Neeko, Soraka, Thresh, Yasuo"
22750,8,-1,"AoShin, Hecarim, Lulu, Neeko, Nunu, Ryze, Sejuani, Sona"
6985,7,-1,"Ashe, DragonGold, Neeko, Swain, Taric, Xayah, Yasuo"
8548,2,-1,"DragonPurple, LeeSin, Qiyana, Ryze, Sylas, Talon, Yasuo"
...,...,...,...
2134,8,178,"Ashe, Kayn, Senna, Sett, Shen, Swain"
18236,8,178,"Ashe, Hecarim, Kayn, Senna, Sett, Shen, Swain"
20470,8,179,"DragonBlue, DragonGold, DragonGreen, Leona, Soraka"
18257,7,179,"DragonBlue, DragonGold, DragonGreen, Leona"
4902,6,179,"DragonBlue, DragonGold, DragonGreen, Leona, Soraka"

In [338]:
dbscan_ranking_df['grp_count'] = dbscan_ranking_df.groupby(['group'], as_index=False)['group'].transform('count')
dbscan_ranking_df['grp_placement'] = dbscan_ranking_df.groupby(['group'], as_index=False)['placement'].transform('mean')
dbscan_ranking_df['mode'] = dbscan_ranking_df.groupby('group')['comp'].transform(lambda x: pd.Series.mode(x)[0])
dbscan_ranking_df.groupby(['group']).head(1).sort_values(by='grp_count', ascending=False)[:60]

,placement,group,comp,grp_count,grp_placement,mode
7584,2,3,"DragonGreen, Elise, Gnar, Neeko, Nidalee, Pyke, Soraka, Thresh",6147.0,3.963680,"Elise, Gnar, Neeko, Nidalee, Shyvana, Soraka, Swain"
14061,3,0,"Hecarim, Ornn, Qiyana, Sejuani, Shen, Talon, Twitch, Xayah, Yasuo",6078.0,4.510529,"Hecarim, Ornn, Qiyana, Sejuani, Shen, Talon, Twitch, Xayah"
6557,7,1,"Braum, Diana, Lillia, Olaf, Sejuani, Shen",2137.0,4.231839,"Braum, Diana, Lillia, Olaf, Sejuani, Shen, Talon"
3399,1,2,"AoShin, Bard, Heimerdinger, Lulu, Ornn, Sylas, TrainerDragon, Zoe",1941.0,4.270050,"AoShin, Bard, Heimerdinger, Lulu, Ornn, Sylas, TrainerDragon, Zoe"
16713,4,9,"AurelionSol, Illaoi, Nami, Nidalee, Skarner, Varus, Vladimir",1879.0,4.535912,"AurelionSol, Illaoi, Nami, Nidalee, Skarner, Varus, Vladimir"
7285,7,8,"DragonPurple, Elise, Neeko, Ornn, Sylas, Thresh",1873.0,4.351251,"DragonPurple, Elise, Neeko, Soraka, Sylas, Taric, Thresh"
17553,1,11,"Ashe, DragonGreen, Gnar, Karma, Neeko, Soraka, Taric, Yasuo",848.0,4.205063,"Anivia, Ashe, DragonGreen, Gnar, Lulu, Neeko, Soraka"
3604,3,4,"DragonBlue, DragonGold, DragonPurple, Leona, Sylas, Twitch",413.0,4.764706,"DragonBlue, DragonGold, DragonPurple, Leona, Sylas"
14202,6,12,"Hecarim, Kayn, Sett, Shen, Shyvana, Swain, Xayah, Yasuo",395.0,4.284211,"Hecarim, Kayn, Sett, Shen, Shyvana, Swain, Xayah"
4477,7,7,"Heimerdinger, Illaoi, Lulu, Nami, Ornn, TrainerDragon, Twitch, Varus",274.0,4.245595,"Heimerdinger, Illaoi, Lulu, Nami, Sylas, TrainerDragon, Twitch, Varus"
17949,8,10,"Braum, Leona, Nunu, Olaf, Shen, Twitch, Yone",181.0,4.588443,"DragonBlue, Hecarim, Lillia, Nunu, Sejuani, Yasuo, Yone"
5526,5,31,"AoShin, Bard, Heimerdinger, Illaoi, Nami, Sylas, Vladimir, Zoe",119.0,4.200000,"AoShin, Bard, Heimerdinger, Illaoi, Nami, Sylas, Vladimir, Zoe"
20309,1,24,"Hecarim, Neeko, Ornn, Sejuani, Shen, Shyvana, Twitch, Xayah",105.0,1.250000,"Hecarim, Neeko, Ornn, Sejuani, Shen, Shyvana, Twitch, Xayah"
18575,6,13,"Bard, Diana, Lillia, Ryze, Sejuani, Talon, Twitch, Zoe",95.0,4.568966,"Diana, Hecarim, Lillia, Ryze, Sejuani, Talon, Twitch, Zoe"
9653,5,18,"Bard, Corki, Diana, Hecarim, Neeko, Ornn, Xayah, Yasuo",66.0,4.000000,"Bard, Corki, Diana, Hecarim, Neeko, Ornn, Xayah, Yasuo"
10413,2,20,"Bard, DragonPurple, Hecarim, Pyke, Shen, Talon, Twitch, Xayah",61.0,2.714286,"DragonPurple, Hecarim, Pyke, Sejuani, Shen, Talon, Twitch, Xayah"
4073,2,14,"AoShin, DragonGold, DragonPurple, Lulu, Ornn, Thresh",58.0,3.222222,"AoShin, Bard, DragonGold, DragonPurple, Ornn, Thresh"
19330,1,6,"Ashe, Karma, LeeSin, Neeko, Ornn, Sett, Swain, Xayah",55.0,4.616788,"Ashe, Gnar, Neeko, Sett, Shyvana, Swain, Xayah"
6229,4,26,"Corki, Heimerdinger, Lulu, Ornn, Qiyana, Sona, Sylas, TrainerDragon, Zoe",49.0,4.104167,"Bard, Corki, Heimerdinger, Lulu, Ornn, Sona, Sylas, TrainerDragon, Zoe"
13519,1,27,"Diana, DragonGreen, Gnar, Neeko, Pyke, Soraka, Talon, Yasuo",48.0,2.647059,"Bard, DragonGreen, Gnar, Neeko, Pyke, Soraka, Talon, Yasuo"
11322,3,58,"Bard, DragonBlue, DragonGold, DragonGreen, Leona",34.0,4.500000,"Bard, DragonBlue, DragonGold, DragonGreen, Leona"
679,1,23,"Ashe, Bard, DragonGreen, Ezreal, Karma, LeeSin, Leona, Taric",22.0,4.466667,"Ashe, DragonGreen, Ezreal, Karma, LeeSin, Leona, Taric"
4058,6,15,"Bard, Hecarim, Shen, Shyvana, Talon, Twitch, Xayah",18.0,4.000000,"Bard, Hecarim, Shen, Shyvana, Soraka, Talon, Twitch, Xayah"
1717,8,5,"Aatrox, DragonGold, Kayn, Swain, Volibear, Xayah, Zoe",17.0,6.018182,"Aatrox, DragonGold, Kayn, Shen, Volibear, Xayah, Zoe"
9936,1,28,"DragonPurple, Ornn, Qiyana, Sylas, Talon, Yasuo, Zoe",17.0,3.000000,"DragonPurple, Heimerdinger, Ornn, Qiyana, Sylas, Talon, Zoe"
22735,1,53,"AoShin, Bard, Neeko, Ornn, Sylas, Yasuo, Zoe",16.0,1.000000,"AoShin, Bard, Lillia, Neeko, Ornn, Sylas, Yasuo, Zoe"
9990,4,65,,15.0,6.000000,
8870,8,78,"DragonPurple, Elise, Heimerdinger, Lulu, Neeko, Sylas, TrainerDragon",14.0,5.250000,"DragonPurple, Elise, Heimerdinger, Lulu, Neeko, Pyke, Sylas, TrainerDragon, Zoe"
16857,2,34,"Bard, DragonPurple, Heimerdinger, Lulu, Pyke, Sylas, Talon, TrainerDragon, Zoe",12.0,1.250000,"Bard, DragonPurple, Heimerdinger, Lulu, Pyke, Sylas, Talon, TrainerDragon, Zoe"
16957,7,50,"DragonGreen, Elise, Gnar, Neeko, Swain, Taric, Thresh",12.0,4.600000,"DragonGreen, Elise, Gnar, Neeko, Swain, Taric, Thresh"
10736,7,130,"Heimerdinger, Lillia, Nami, Ryze, Skarner, Sylas, Vladimir",11.0,6.200000,"Heimerdinger, Lillia, Nami, Ryze, Skarner, Sylas, Vladimir"
14973,5,38,"Anivia, Corki, DragonGreen, Gnar, Lulu, Neeko, TrainerDragon, Tristana",10.0,4.833333,"Anivia, Corki, DragonGreen, Gnar, Lulu, Neeko, TrainerDragon, Tristana"
13557,4,82,"AoShin, Corki, Lulu, Ornn, Shen, Sona, Sylas, TrainerDragon, Tristana",10.0,2.333333,"AoShin, Bard, Corki, Lulu, Ornn, Sona, Sylas, TrainerDragon, Tristana"
14226,5,36,"DragonPurple, Elise, Gnar, Neeko, Nidalee, Skarner, Soraka",10.0,4.500000,"DragonPurple, Elise, Gnar, Neeko, Nidalee, Skarner, Soraka"
21746,6,41,"AoShin, Bard, Hecarim, Ornn, Ryze, Sejuani, Sylas, Zoe",10.0,3.666667,"AoShin, Bard, Hecarim, Ornn, Ryze, Sejuani, Sylas, Zoe"
5219,3,46,"Bard, Braum, Corki, Hecarim, Neeko, Ornn, Pyke, Xayah, Yasuo",8.0,3.833333,"Braum, Corki, Hecarim, Neeko, Ornn, Xayah, Yasuo"
13892,2,75,"DragonPurple, Elise, Olaf, Pyke, Shen, Sylas, Talon, Yasuo",8.0,2.000000,"DragonPurple, Elise, Neeko, Olaf, Pyke, Shen, Sylas, Talon"
1639,2,21,"DragonBlue, Hecarim, Nunu, Ornn, Qiyana, Yasuo, Yone",7.0,1.666667,"DragonBlue, Hecarim, Nunu, Ornn, Qiyana, Yasuo, Yone"
18726,3,80,"Bard, DragonPurple, Ornn, Qiyana, Talon, Twitch, Varus",7.0,3.000000,"Bard, DragonPurple, Ornn, Qiyana, Talon, Twitch, Varus"
21344,4,114,"Braum, Diana, Hecarim, Lillia, Olaf, Ryze, Sylas, Thresh",7.0,5.333333,"Braum, Diana, Hecarim, Lillia, Nami, Olaf, Sylas, Thresh"
18694,4,96,"DragonGreen, Gnar, Neeko, Ornn, Qiyana, Soraka, Talon",7.0,4.250000,"DragonGreen, Gnar, Neeko, Ornn, Qiyana, Soraka, Talon"
11450,5,136,"Aatrox, Corki, Jinx, Lulu, Sona, Sylas, TahmKench, TrainerDragon, Tristana",7.0,7.000000,"Aatrox, Corki, Jinx, Lulu, Sona, Sylas, TahmKench, TrainerDragon, Tristana"
1685,8,104,"Braum, Diana, Hecarim, Lillia, Nunu, Olaf, Sylas",7.0,5.000000,"Braum, Diana, Hecarim, Lillia, Nunu, Olaf, Sylas"
10437,5,66,"Anivia, Bard, Hecarim, Lillia, Nunu, Ornn, Sejuani, Volibear",6.0,5.166667,"Anivia, Hecarim, Lillia, Nunu, Ornn, Sejuani, Volibear"
21676,4,121,"Ezreal, Illaoi, Lulu, Nami, Ornn, Ryze, Sylas, Varus",6.0,5.250000,"Ezreal, Illaoi, Lulu, Nami, Ornn, Ryze, Sylas, Varus"
6314,2,61,"DragonPurple, Heimerdinger, Illaoi, Lulu, Nami, Sylas, TrainerDragon, Varus, Zoe",6.0,4.000000,"DragonPurple, Heimerdinger, Illaoi, Lulu, Nami, Sylas, TrainerDragon, Varus"
14733,5,126,"Ashe, DragonGreen, Ezreal, Karma, LeeSin, Taric",6.0,5.666667,"Ashe, DragonGreen, Ezreal, Karma, LeeSin, Taric"
11471,4,67,"Bard, Corki, DragonGold, Jinx, Lulu, Sona",6.0,4.250000,"Bard, Corki, DragonGold, Jinx, Lulu, Sona, Thresh"
12074,1,56,"Bard, Hecarim, Nunu, Ornn, Sejuani, Shen, Twitch, Xayah, Yasuo",6.0,4.333333,"Hecarim, Nunu, Ornn, Sejuani, Shen, Twitch, Xayah, Yasuo"
7463,7,103,"Corki, Jinx, Lulu, Ornn, Shen, Sona, Talon, TrainerDragon, Tristana",6.0,5.428571,"Corki, Lulu, Ornn, Qiyana, Shen, Sona, Talon, TrainerDragon, Tristana"
5709,6,42,"Gnar, Neeko, Nidalee, Shyvana, Soraka, Yasuo",6.0,2.400000,"Bard, Gnar, Neeko, Nidalee, Shyvana, Soraka, Yasuo"
1422,7,160,"Braum, Hecarim, Lillia, Nunu, Ryze, Sejuani, Sylas",6.0,7.333333,"Braum, Hecarim, Lillia, Nunu, Ryze, Sejuani, Sylas"
16178,4,49,"Ashe, Karma, Leona, Sett, Swain, Taric, Volibear",6.0,5.666667,"Ashe, Braum, Karma, Leona, Sett, Taric, Thresh"
17530,3,47,"Ashe, Gnar, LeeSin, Neeko, Sett, Shyvana, Swain, Yasuo",6.0,1.666667,"Ashe, Gnar, LeeSin, Neeko, Sett, Shyvana, Swain, Yasuo"
874,1,37,"AoShin, Bard, Hecarim, Nunu, Ornn, Sejuani, Yasuo, Zoe",6.0,3.200000,"AoShin, Bard, Hecarim, Nunu, Ornn, Sejuani, Shen, Yasuo"
28,2,39,"Aatrox, Bard, DragonGold, Kayn, Pyke, Soraka, Yasuo, Zoe",6.0,2.200000,"Aatrox, Bard, DragonGold, Kayn, Pyke, Soraka, Yasuo, Zoe"
12850,8,51,"Ashe, DragonGreen, Karma, Leona, Lulu, Sett, Taric",5.0,4.200000,"Ashe, Bard, DragonGreen, Karma, Leona, Sett, Taric"
10184,3,98,"Braum, Corki, Jinx, Senna, Sona, Thresh, Tristana",5.0,5.000000,"Braum, Corki, Jinx, Senna, Sona, Thresh, Tristana"
1127,7,32,"DragonBlue, Gnar, Lillia, Neeko, Nunu, Sejuani, Soraka",5.0,4.750000,"DragonBlue, Gnar, Hecarim, Neeko, Nunu, Sejuani, Soraka, Yasuo"
15114,8,52,"DragonGold, Kayn, Sett, Swain, Volibear, Zoe",5.0,5.500000,"Aatrox, DragonGold, Kayn, Sett, Swain, Talon, Volibear"

In [339]:
dbscan_ranking_df.to_csv(os.path.join(ASSETS_DIR, f'{SERVER}_{LEAGUE}_{LATEST_RELEASE}_{PATCH}_{THREEDAY}_dbscan_comp_ranking.csv'), index=False)